 
.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.form
{
    width: 100%;
    height: 40%;
    display:flex;
    flex-direction: column;
    align-items:center ;
    /* border: 2px solid blue; */
    background-color: rgb(3, 44, 44);


}
.form h1
{
    color: white;
    
}
.form-header button
{
    width: 100px;
    height: 40px;
    color: whitesmoke;
    background-color: red;
    border-radius:10px ;
    cursor: pointer;
}
.photocontainer
{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    
    /* border: 2px solid red; */
}
.card
{
    width:10%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid blue;
    margin: 20px;
   
   
}