<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
   
    
</head>
<body>
  <div class="container">
    <div class="sub-conatiner">
       <div class="heading"><p>Add studnets informations</p></div>
       <div class="form">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="field">
                <span>student name :</span>
                <input type="text" name="name" required>
            </div>
            <div class="field">
                <span>Email id :</span>
                <input type="email" name="email" required>
            </div>
            <div class="field">
                <span>standard:</span>
                <input type="text" name="standard" required>
            </div>
            <div class="btn">
              <button type="submit">submit</button>
            </div>
        </form>
       </div>
    
    </div>
    <div class="data-container">
      <div class="table">
        <table>
          <tr>
            <th>S.no</th>
            <th>name</th>
            <th>email</th>
            <th>standard</th>
            <th>operations</th>
          </tr>
          {% for i in index %}
          <tr>
           
            <th>{{forloop.counter}}</th>
            <th>{{i.name}}</th>
            <th>{{i.email}}</th>
            <th>{{i.standard}}</th>
            <th>
              <td><a href="/delete_index/{{i.id}}"><button type="submit" id="delete" style="color: white;background-color: red;width: 50px;height: 20px;">delete</button></a></td>
              <td><a href="/update_index/{{i.id}}"><button type="submit" id="update" style="color: white;background-color: rgb(0, 26, 255);width: 50px;height: 20px;">update</button></a></td>
            </th>
          </tr>
          {% endfor %}
        </table>
    </div>
    </div>   
  </div>
  
     
</body>
</html>
