<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImageUploader</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Image Uploader</h1>
            <header class="form-header">
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <button type="submit">upload</button>
            </form>
        </header>
        </div>
        <div class="photocontainer">
            {% for x in img %}
            <div class="card">
                <img src="{{x.photo.url}}" height="100px" width="200px">
               
            </div>
           
            {% endfor %}
            
        </div>
    </div>
</body>
</html>